@import 'base/normalize';
@import 'base/typography';


html {
  box-sizing: border-box;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {}

a {
  text-decoration: none;
  color: inherit;
}

.title {}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/*font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Vollkorn', serif;*/


/* Our-team styles start */
.our-team {
  padding: 80px 0 90px;

  &__title {
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 28px;
    margin-bottom: 43px;
    position: relative;
  }

  &__title::after {
    content: '';
    width: 80px;
    height: 2px;
    background: rgba(0, 0, 0, 0.09);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  &__items {
    display: flex;
    gap: 20px;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__img {
        width: 220px;
        height: 220px;
        object-position: top center;
        object-fit: cover;
        filter: grayscale(1);
      }

      &__title {
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        margin: 0;
        padding: 20px 0 6px;
      }

      &__subtitle {
        font-family: 'Vollkorn', serif;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding-bottom: 18px;
      }

      &__socials {
        padding: 10px 0 11px;

        .social {
          &__link {
            padding: 0 3px;
          }
        }
      }
    }
  }
}

/* Our-team styles end */

/* Сustomer-reviews styles start */
.customer-reviews {
  background-color: #F5F5F5;
  padding: 70px 0 70px;

  &__inner {
    text-align: center;
  }

  &__img {
    padding-bottom: 60px;
  }

  &__items {
    display: flex;
    justify-content: center;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 54px 0;
      position: relative;

      &__subtitle {
        font-family: 'Vollkorn';
        font-size: 26px;
        line-height: 33px;
        max-width: 340px;
        margin: 0;
        margin-bottom: auto;
        padding-bottom: 24px;
      }

      &__img {
        width: 64px;
        height: 64px;
        object-position: top center;
        object-fit: cover;
      }

      &__title {
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #ABABAB;
        margin: 0;
        padding: 10px 0 29px;
      }
    }

    .item:first-child::before {
      content: '';
      width: 2px;
      height: calc(100% - 29px);
      background: rgba(0, 0, 0, 0.04);
      position: absolute;
      left: 100%;
      top: 0;
    }
  }
}

/* Сustomer-reviews styles end */

/* Get-in-touch styles start */
.get-in-touch {
  padding: 80px 0 70px;
  background-color: #7EC4BD;
  background-image: url(../images/backgrounds/get-in-touch_bg\(origin\).png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &__title {
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 28px;
    margin-bottom: 43px;
    position: relative;

  }

  &__title::after {
    content: '';
    width: 80px;
    height: 2px;
    background: rgba(0, 0, 0, 0.09);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  &__items {
    display: flex;
    // justify-content: space-around;

    .item {
      padding-top: 13px;
      width: 33.3%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__icon-container {
        min-height: 65px;
        display: flex;
        align-content: center;
        justify-content: center;
      }

      &__title {
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        margin: 0;
        padding: 25px 0 20px;
      }

      &__subtitle {
        max-width: 180px;
        font-family: 'Vollkorn';
        font-size: 17px;
        line-height: 22px;
        text-align: center;
        color: #212121;

        p {
          margin: 0;
        }
      }

      &__socials {

        .social {

          &__link {
            display: flex;
            padding-bottom: 12px;
          }

          &__icon {
            padding-right: 9px;
          }

          &__subtitle {
            margin: 0;
          }
        }
      }
    }
  }

  &__to-contacts {
    font-family: 'Vollkorn';
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #212121;

    .to-contacts {
      margin: 0;
    }
  }
}

/* Get-in-touch styles end */

/* *** styles start */
/* *** styles end */


/*@import 'abstracts/variables' // definitely needed!;
@import 'abstracts/functions' // not needed;
@import 'abstracts/mixins' // not needed;
@import 'abstracts/placeholders' // not needed;

@import 'vendors/bootstrap' // not needed;
@import 'vendors/jquery-ui' // not needed;

@import 'base/reset' // perhaps needed;
@import 'base/normalize' //definitely needed!;
@import 'base/typography' // definitely needed!;

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';

@import 'components/buttons';
@import 'components/carousel';
@import 'components/cover';
@import 'components/dropdown';

@import 'pages/home' // not needed;
@import 'pages/contact' // not needed;

@import 'themes/theme' // perhaps needed;
@import 'themes/admin' // perhaps needed;*/