@font-face {
  font-family: 'Montserrat';
  src: url(/src/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url(/src/fonts/Vollkorn/Vollkorn-VariableFont_wght.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url(/src/fonts/Vollkorn/Vollkorn-Italic-VariableFont_wght.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Vollkorn';
  src: url(/src/fonts/Oswald/Oswald-VariableFont_wght.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  //font-size: 18px;
  //line-height: 140%;
  color: #333333;
  /* background-color: #E5E5E5; */
}